{% extends "base.html" %}

{% block title %}
  Index Page
{% endblock %}

{% block content %}
  <ul>
    {% for item in mylist %}
      {% if item == 3 %}
        <li style="color: red">{{ item }}</li>
      {% else %}
        <li>{{ item }}</li>
      {% endif %}
    {% endfor %}

  </ul>

  <form  method="POST" action="{{url_for('index')}}">
    <input type="text" username="username" placeholder="Username">
    <input type="password" username="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>

  <h1> Upload File </h1>


  <form method = "POST" action="{{url_for('file_upload')}}" enctype="multipart/form-data">
    <input type="file" name="file"
       accept=".xlsx, .xls, .csv, .txt"
       required>
    <input type="submit" value="Upload file">
  </form>
  

  <h2>Download File</h2>
  <form method = "POST" action="{{url_for('downloads')}}" enctype="multipart/form-data">
    <input type="file" name = "file" accept=".xlsx, .xls, .csv, .txt"
       required>
    <input type="submit" value="upload file">
  </form>

  
{% endblock %}
